<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Python core dev sprint leaderboard</title>
    <link href="/static/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        .bs-example{
            margin: 20px;
        }
    </style>
    <meta http-equiv="refresh" content="600"/>
    <header class="header text-center">
        <div class="branding">
            <h1 class="logo">
                <span class="text-highlight">Core Dev Sprint </span><span class="text-bold">PR Tracker</span>
            </h1>
        </div>
        <div class="tagline">
            <p>Tracking number of merged pull requests from contributors and other core devs</p>
        </div>
    </header>


</head>

<body>
    <div class="container">
        <br><br>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
