{% extends "base.html" %}

{% block content %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-center">Position</th>
                <th class="text-center">GitHub user</th>
                <th class="text-center"># PR merged</th>
            </tr>
        </thead>
        <tbody>
        {% for user, prs_merged in ranking.most_common() %}
            {% if loop.index == 1 %}
            <tr class="table-primary">
            {% elif loop.index == 2 %}
            <tr class="table-secondary">
            {% elif loop.index == 3 %}
            <tr class="table-warning">
            {% else %}
            <tr class="table-light">
            {% endif %}
                <td class="text-center">{{ loop.index }}</td>
                <td class="text-center">@{{ user }}</td>
                <td class="text-center">{{ prs_merged }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
